html, body {
  height: 100%;
  width: 100%;
}
.grid-container {
  display: grid;
  grid-template-areas:
    "h h h h"
    "n m m m"
    "f f f f";
  gap: 10px;
} 
.grid-container > * {
  background-color: #dfe0e1;
  border-radius: 8px;
  padding: 10px;
}

.h {
  grid-area: h;
}

.n {
  grid-area: n;
}

.m {
  grid-area: m;
}

.f {
  grid-area: f;
}

.lower-roman{
  list-style: lower-roman;
}
.odd {
  background-color: red;
}
ul {
  list-style: upper-roman;
  font-family: sans-serif;
}
 h1 {
   font-family: cursive;
 } 
p {
  font-family: fantasy;
  color: #789D8B;
} 
img {
  background-blend-mode: darken;
  border-radius: 8px;
} 
li {
  background: #c2c2c2;
  border-radius: 8px;
  padding: 20px;
}
table {
  background: #5e685e;
} 
